/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  color:rgb(240, 141, 182);
}

nav ul {
  list-style: none;
  background-color: rgb(240, 141, 182);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 50px;
  margin: 10px;
}

#home {
  background-color: white;
  display: flex;
  flex-direction: row;
  
  text-align: center;
}

.image-content{
  max-height: 5px;
}

#about, #projects, #contact {
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

/* Projects Section */
.project {
  margin: 20px 0;
}

/* Contact Form Styles */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: rgb(240, 141, 182);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(201, 142, 195);
}